body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.nav{
  margin: -2.5em 0 -2em -2em;
}
ul{
  list-style-type: none;
  color: #66BFBF;
}
li{
  float: left;
  margin: 2px;
}
h1{
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 3rem;
  margin-top: 1.25em;
}
li a{
    font-size: .9rem;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}
#h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: -2em;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}
.top-container{
  background-color: lightcyan;
}
.middle-container{
 
}
#hi{
  margin-top: 0.6rem;
}
 #p {
  margin-top: -0.6rem;
}
.top-content{
  width: 80%;
  margin: 0 auto 0 20%;
}
  .top-content p{
    margin-right: 1rem;
  }
.bottom-container{
  background-color: #EFFFFD;
  height: 20%;
  padding-bottom: 1.5rem;
}
#bot-P{
  margin-top: 0;
}
a{
  color: #66BFBF;
  margin: 0 0.1rem 0 0rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  /* border: 2px solid ; */
}
a:hover{
  color: black;
}
a img{
  padding: auto;
    margin: -2rem 0.5rem 0 0;
}
.project{
  background-color: #EFFFFD;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem 2rem 2rem 2rem;
}
.project button{
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
}
.project button:hover{
  background-color: #EFFFFD;
}
.project p{
 color: #66BFBF; 
 margin: 1rem 1rem 0 1rem;
}
.project img{
  width: 70%;
  height: 25%;
  margin-top: 2rem;
}
.bottom-content{
  background-color: red;
}
.logo{
/*   background-color: white; */
width: 10%;
}
.profile{
  margin: 0 auto 0 auto;
}
.profile-pic{
  width: 20%;
  border-radius: 100%;
  float: left;
}
.skill{
  
}
.computer-pic{
  width: 20%;
  float: left;
}
.mountain-img{
  width: 90%;
}
.skill-row{
 margin: 0 auto 0 auto;
}
p{
  text-align: center;
  font-size: 0.8rem;
}
.top-cloud{
  position: relative;
  left: 30%;
  width: 25%;
  top: 5%;
}
.bottom-cloud{
  position: absolute;
  left: 1%;
  top: 20%;
  width: 25%;
}
@media (min-width: 768px){
  ul{
    margin-top: -6em;
  }
  ul li{
    margin: 0 0.5rem 0 0.5rem;
  }
  ul li a {
    font-size: 2.5rem;
  }
  h1{
    font-size: 7rem;
  }
  h2{
    font-size: 3rem;
  }
  .bottom-cloud{
    position: absolute;
  left: 1%;
  top: 50%;
  }
  .top-cloud{
    margin-top: 3%;
  }
  .top-content{
    width: 80%;

    margin-top: 8%;
  }
  p{
    font-size: 2.3rem;
    line-height: 1.5;
  }
  h3{ 
    font-size: 3rem;
  }
  a img{
    padding: auto;
    margin: -3rem 1rem 0 1rem;
  }
  .project {
    display: inline-block;
    width: 25%;
  }
  #thinkngrow, #clock, #surveyform{
    height: 10%;
  }
  .project img{
    width: 80%;
  }
  .project button{
    font-size: 2rem;
    margin-top: 1rem;
  }
  .project p{
    font-size: 1.5rem;
    line-height: 1;
  }
  .bottom-container{
    height: 30%;
    padding-bottom: 1rem;
  }
#hi{
  visibility: hidden;
}
 #p {
  margin-top: -7rem;
}